.text-normal {
    -fx-font-size: 16px;
    -fx-font-family: "Avenir Book";
}

.label-text {
    -fx-font-family: "SignPainter";
    -fx-font-size: 106px;
}

.text-headlines {
    -fx-font-size: 30px;
    -fx-font-family: "Avenir Book";
    -fx-font-weight: Bolder;
}


.text-headlines-big {
    -fx-font-size: 50px;
    -fx-font-family: "Avenir Book";
    -fx-font-weight: Bolder;
}


.text-arrows {
    -fx-font-size: 18px;
    -fx-font-family: "Avenir Book";
    -fx-font-weight: Bolder;
}

.button{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.button-red{
      -fx-border-color: transparent;
      -fx-border-width: 0;
      -fx-background-radius: 0;
      -fx-background-color: "red";
      -fx-text-fill:    "white";
}

.button-red:hover{
   -fx-background-color: #DD0000 ;
}

.button-red:pressed{
    -fx-background-color: "red";
}

.button-green{
     -fx-border-color: transparent;
     -fx-border-width: 0;
     -fx-background-radius: 0;
     -fx-background-color: "green";
     -fx-text-fill:    "white";
}

.button-green:hover{
    -fx-background-color: #006000;
}

.button-green:pressed{
    -fx-background-color: "green";
}

.button-grey{
     -fx-border-color: transparent;
      -fx-border-width: 0;
      -fx-background-radius: 0;
      -fx-background-color:  #757C88;
      -fx-text-fill:    "white";
}

.button-grey:hover{
    -fx-background-color: #665A66;
}

.button-grey:pressed{
    -fx-background-color: #757C88;
}

.button:pressed {
    -fx-font-size: 18px;
}

.catagory:hover {
    -fx-background-color: orange;
    -fx-text-fill: white;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.choice-box .context-menu {
    -fx-pref-width: 591;
}

.product-pane {
    -fx-border-color: black;
}

.text-area .content {
    -fx-background-color: white;
}

.text-area  {
    -fx-background-color: white;
}

.text-area-clear .content {
    -fx-background-color: -fx-background;
}

.text-area-clear {
    -fx-background-color: -fx-background;
}

#logo:pressed {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-scale-z: 1.05;
}
