.text-normal {
    -fx-font-size: 16px;
    -fx-font-family: "Avenir Book";
}

.label-text {
    -fx-font-family: "SignPainter";
    -fx-font-size: 106px;
}

.button{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.button:pressed {
    -fx-font-size: 18px;
}

.catagory:hover {
    -fx-background-color: orange;
    -fx-text-fill: white;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.catagory:focused {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.choice-box .context-menu {
    -fx-pref-width: 591;
}

.product-pane {
    -fx-border-color: black;
}